[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask-login = "*"
flask-bcrypt = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
Flask = "*"
pillow = "*"
pymysql = "*"

[requires]
python_version = "3.7"
