{% extends "newLay.html" %}
{% block desc %}
<div class="jumbotron bg-light">
    <h1 class="display-4">About Us</h1>
    <hr>
    <p class="lead">
        We are a team of four developers, studying in the 4th semester, 
        in the Computer Science department of KLE Technological University. 
        This idea came into picture as a result of the Intel Ideation Camp 
        that commenced in the month of February, which is where this idea 
        was brewed initially. The idea was pitched and the four of us came 
        together to discuss whether this can be implemented in real-time. 
        As it can be seen, all the efforts have come to fruition and we have 
        started the process that will join all the hands on this campus 
        and lead to “Clean KLE” eventually.
    </p>
    <h1 class="display-4">Team</h1>
    <hr>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Est quas porro enim atque accusantium cumque fuga! Facere earum iste, 
        recusandae fuga dignissimos officiis officia quibusdam accusantium. 
        Saepe error commodi minus. Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Beatae vel earum sed omnis nulla quasi deleniti explicabo fuga rerum 
        tenetur quam amet delectus quidem minus aut laudantium cum, facilis obcaecati.
    </p>
    <h1 class="display-4">The Idea</h1>
    <hr>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Est quas porro enim atque accusantium cumque fuga! Facere earum iste, 
        recusandae fuga dignissimos officiis officia quibusdam accusantium. 
        Saepe error commodi minus. Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Beatae vel earum sed omnis nulla quasi deleniti explicabo fuga rerum 
        tenetur quam amet delectus quidem minus aut laudantium cum, facilis obcaecati.
    </p>
</div>
{% endblock desc %}