{% extends 'newLay.html' %}
{% block desc %}
    <div class="jumbotron bg-light">
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
        <div style="text-align:center;">
        <div class="form-group">
            {{ form.username.label(class="form-control-label") }}
            {% if form.username.errors %}
                {{ form.username(class = "form-control is-invalid trans-input", placeholder="Choose a username") }}
                <div class="bg-danger rounded">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.username(class = "form-control trans-input", placeholder="Choose a username") }}
            {% endif %}
        </div>
        <div class="form-group" align="center">
            {{ form.profile_pic.label(class="form-control-label") }}
            {{ form.profile_pic(class="form-control-file") }}
            {% if form.profile_pic.errors %}
                {% for error in form.profile_pic.errors %}
                    <span class="test-danger">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class = "form-control is-invalid trans-input", placeholder="Enter your email") }}
                    <div class="bg-danger rounded">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class = "form-control trans-input", placeholder="Enter your email") }}
                {% endif %}
            </div>
        <div class="form-group">
            {{ form.password.label(class="form-control-label") }}
            {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid trans-input", placeholder="Choose a password") }}
                <div class="bg-danger rounded ">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-control trans-input", placeholder="Choose a password") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.confirmPassword.label(class="form-control-label") }}
            {% if form.confirmPassword.errors %}
                {{ form.confirmPassword(class="form-control is-invalid trans-input", placeholder="Confirm the password") }}
                <div class="bg-danger rounded ">
                    {% for error in form.confirmPassword.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.confirmPassword(class="form-control trans-input", placeholder="Confirm the password") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.usn.label(class="form-control-label") }}
            {% if form.usn.errors %}
                {{ form.usn(class="form-control is-invalid trans-input", placeholder="Enter your usn") }}
                <div class="bg-danger rounded ">
                    {% for error in form.usn.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.usn(class="form-control trans-input", placeholder="Enter your usn") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.phone.label(class="form-control-label") }}
            {% if form.phone.errors %}
                {{ form.phone(class="form-control is-invalid trans-input", placeholder="Enter your phone number") }}
                <div class="bg-danger rounded ">
                    {% for error in form.phone.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.phone(class="form-control trans-input", placeholder="Enter your phone number") }}
            {% endif %}
        </div>
        <div class="form-inline justify-content-around">
            <!--Branch-->
            {{ form.branch.label(class="form-control-label mr-md-2 mb-2") }}
            {% if form.branch.errors %}
                {{ form.branch(class="form-control is-invalid trans-input mr-md-3") }}
                <div class="bg-danger rounded ">
                    {% for error in form.branch.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.branch(class="form-control trans-input mr-3") }}
            {% endif %}

            <!--Semister-->
            {{ form.sem.label(class="form-control-label mr-2") }}
            {% if form.sem.errors %}
                {{ form.sem(class="form-control is-invalid trans-input mr-3", placeholder="Enter your current semester") }}
                <div class="bg-danger rounded ">
                    {% for error in form.sem.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.sem(class="form-control trans-input", placeholder="Enter your current semester") }}
            {% endif %}
        </div>
        {{ form.submit(class="btn btn-block btn-lg btn-primary mt-5 mb-3", style="font-weight: bold; background: #303952; border: #303952") }}
        <div style="font-size: 13px;"><label>Already have an account? <a href="{{url_for('login')}}"><span style="font-size: 1rem; color: aqua">Login</span></a></label></div>        
    </form>
    </div>
{% endblock desc %}