{% extends "layout.html" %}
{% block content %}
    <div class="dark"></div>
    <div class="jumbotron" style="padding-top: 20px;padding-bottom: 20px;	background-color: rgba(255,255,255,0.2);">
        <h3 style="text-align:center;" class="mb-3"><i class="fas fa-user-cog"></i> Admin Login</h2>
        <form method="POST" action="">
        {{ form.hidden_tag() }} 
        <div style="text-align:center;">
        <div class="form-group">
            {{ form.username.label(class="form-control-label h5") }}
            {% if form.username.errors %}
                {{ form.username(class = "form-control is-invalid form-control-lg mb-3 trans-input", placeholder="Enter your  username") }}
                {% for error in form. username.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            {% else %}
                {{ form.username(class = "form-control form-control-lg mb-3 trans-input", placeholder="Enter your  username") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-control-label h5") }}
            {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid mb-5 trans-input", placeholder="Enter the password") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-control form-control-lg mb-5 trans-input", placeholder="Enter the password") }}
            {% endif %}
        </div>
        <div class="form-check">
        </div>
        {{ form.login(class="btn btn-block btn-lg btn-primary mb-3", style="font-weight: bold; background: #303952; border: #303952") }}
        </div>
        </form>
    </div>
{% endblock content %}