{% extends "newLay.html" %}
{% block desc %}
{% for post in posts %}
    <div class="jumbotron bg-light py-3 px-0">
        <div class="row m-0">
            <div class="col-lg-3 col-md-4">
                <div class="img-thumbnail" style="overflow:hidden; background:none;border:none;">
                    <img src="../static/posts/{{post.image_file}}"  alt="dsfd" style="max-width: 100%; max-height:100% ;">
                </div>
            </div>
            <div class="col-lg-4 col-md-8 align-self-center">
                <h4>{{post.title}}</h4>
                <hr>
                <h5 class="mb-2">
                Location:
                    {% if post.location=='CL' %}
                        C-lite
                    {% elif post.location=='ME' %}
                        Mech. Building
                    {% elif post.location=='CV' %}
                        Civil Building
                    {% elif post.location=='LH' %}
                        LHC
                    {% elif post.location=='MB' %}
                        Main Building
                    {% elif post.location=='BT' %}
                        Bio Technology
                    {% elif post.location=='AC' %}
                        Architecture
                    {% elif post.location=='EC' %}
                        E and C
                    {% elif post.location=='MC' %}
                        Main Canteen
                    {% elif post.location=='Ot' %}
                        Others
                    {% endif %}
                    <br>
                    Author: {{post.author.username}}
                    <br>
                    Phone: {{post.author.phone}}
                </h5>
                <p class="mb-0" >{{post.content}}</p>
            </div>
            <div class="col-lg-3 col-md-6 align-self-center">
                <div class="adminpannel-text" style="text-align:center;padding-top:30%;padding-bottom: 30%;">
                    <h3 class="text-muted">
                        Severity: 
                        {% if post.severity=='1' %}
                            <i class="fas fa-frown-open text-info h2"></i>
                        {% elif post.severity=='2' %}
                            <i class="fas fa-sad-tear text-info h2"></i>
                        {% elif post.severity=='3' %}
                            <i class="fas fa-sad-cry text-info h2"></i>
                        {% elif post.severity=='4' %}
                            <i class="fas fa-dizzy h2 text-info"></i>
                        {% elif post.severity=='5' %}
                            <i class="fas fa-radiation-alt h2 text-info"></i>
                        {% endif %}
                    </h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                    <div class="adminpannel-text" style="text-align:center;position:center">
                            <div class="form-check" style="text-align:center;padding-top:50%;">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>                    
                    </div>                            
                </div>
        </div>       
    </div>
{% endfor %}
<div class="jumbotron bg-light">
    <div class="row">
        <div class="col-lg-3 col-md-4">
            <div class="img-thumbnail  " style="overflow:hidden; background:none;border:none;">
                <img src="../static/marf.jpg" alt="dsfd">
            </div>
        </div>
        <div class="col-lg-4 col-md-8">
            <div class="img-thumbnail" style="background:none; border: none">
            <p style="margin-bottom:0px;" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum assumenda velit minima. Consequatur culpa pariatur ex eius minima,
                 fuga laboriosam natus et, tempore ipsum quos? Neque aliquam laboriosam dignissimos quas?</p>
            </div>    
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="adminpannel-text" style="text-align:center;padding-top:30%;padding-bottom: 30%;">
            <h5>Severity :-( </h5>
            </div>
        </div>
        <div class="col-lg-2 col-md-6">
                <div class="adminpannel-text" style="text-align:center;position:center">
                        <div class="form-check" style="text-align:center;padding-top:50%;">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>                    
                </div>                            
            </div>
    </div>       
</div> 
<div class="jumbotron bg-light">
    <div class="row">
        <div class="col-lg-3 col-md-4">
            <div class="img-thumbnail  " style="overflow:hidden; background:none;border:none;">
                <img src="../static/marf.jpg" alt="dsfd">
            </div>
        </div>
        <div class="col-lg-4 col-md-8">
            <div class="img-thumbnail" style="background:none; border: none">
            <p style="margin-bottom:0px;" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum assumenda velit minima. Consequatur culpa pariatur ex eius minima,
                 fuga laboriosam natus et, tempore ipsum quos? Neque aliquam laboriosam dignissimos quas?</p>
            </div>    
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="adminpannel-text" style="text-align:center;padding-top:30%;padding-bottom: 30%;">
            <h5>Severity :-(</h5>
            </div>
        </div>
        <div class="col-lg-2 col-md-6">
                <div class="adminpannel-text" style="text-align:center;position:center">
                        <div class="form-check" style="text-align:center;padding-top:50%;padding-bottom: 50%;">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>                    
                </div>                            
            </div>
    </div>       
</div> 
<div class="jumbotron bg-light">
    <div class="row">
        <div class="col-lg-3 col-md-4">
            <div class="img-thumbnail  " style="overflow:hidden; background:none;border:none;">
                <img src="../static/purf.jpg" alt="dsfd">
            </div>
        </div>
        <div class="col-lg-4 col-md-8">
            <div class="img-thumbnail" style="background:none; border: none">
            <p style="margin-bottom:0px;" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum assumenda velit minima. Consequatur culpa pariatur ex eius minima,
                 fuga laboriosam natus et, tempore ipsum quos? Neque aliquam laboriosam dignissimos quas?</p>
            </div>    
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="adminpannel-text" style="text-align:center;padding-top:30%;padding-bottom: 30%;">
            <h5>Severity :-(</h5>
            </div>
        </div>
        <div class="col-lg-2 col-md-6">
                <div class="adminpannel-text" style="text-align:center;position:center">
                        <div class="form-check" style="text-align:center;padding-top:50%;padding-bottom: 50%;">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>                    
                </div>                            
            </div>
    </div>       
</div> 

    <div class="jumbotron bg-light">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="img-thumbnail  " style="overflow:hidden; background:none;border:none;">
                    <img src="../static/marf.jpg" alt="dsfd">
                </div>
            </div>
            <div class="col-lg-4 col-md-8">
                <div class="img-thumbnail" style="background:none; border: none">
                <p style="margin-bottom:0px;" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum assumenda velit minima. Consequatur culpa pariatur ex eius minima,
                     fuga laboriosam natus et, tempore ipsum quos? Neque aliquam laboriosam dignissimos quas?</p>
                </div>    
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="adminpannel-text" style="text-align:center;padding-top:30%;padding-bottom: 30%;">
                <h5>Severity :-(</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                    <div class="adminpannel-text" style="text-align:center;position:center">
                            <div class="form-check" style="text-align:center;padding-top:50%;padding-bottom: 50%;">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>                    
                    </div>                            
                </div>
        </div>       
    </div> 
    
    <div  style="text-align:center;"><button type="button" class="btn btn-success btn-lg">Submit</button></div>
{% endblock desc %}