{% extends "newLay.html" %}
{% block desc %}
    <div class="jumbotron bg-light">
        <div class = "d-flex flex-column flex-md-row">
            <div class="jumbotron jumbotron-fluid p-0 mr-md-4">
                <img src="../static/images/hand.jpg" alt="" class="img-rounded rounded">
            </div>
            <div id="description">
                <h1>Image Description</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque et animi voluptates temporibus voluptatibus ipsam reprehenderit quia. Aliquam culpa delectus quia non dolorem! Earum quae id nostrum non eos ab modi quis dolorum eum rem omnis quibusdam, molestiae exercitationem voluptatibus minus atque eaque voluptates velit reprehenderit saepe cupiditate corrupti perspiciatis! Tenetur, nihil vitae veritatis sed laudantium, vero odio magni delectus commodi libero nisi, natus dolore eum quisquam officiis voluptates mollitia modi impedit sapiente. Eum, laudantium?</p>
            </div>
        </div>
    </div>
    <div class="jumbotron bg-light">
        <div class = "d-flex flex-column flex-md-row">
            <div class="jumbotron jumbotron-fluid p-0 mr-md-4">
                <img src="../static/images/fog-foggy-forest-4827.jpg" alt="" class="img-rounded rounded" width="450" height="450">
            </div>
            <div id="description">
                <h1>Image Description</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque et animi voluptates temporibus voluptatibus ipsam reprehenderit quia. Aliquam culpa delectus quia non dolorem! Earum quae id nostrum non eos ab modi quis dolorum eum rem omnis quibusdam, molestiae exercitationem voluptatibus minus atque eaque voluptates velit reprehenderit saepe cupiditate corrupti perspiciatis! Tenetur, nihil vitae veritatis sed laudantium, vero odio magni delectus commodi libero nisi, natus dolore eum quisquam officiis voluptates mollitia modi impedit sapiente. Eum, laudantium?</p>
            </div>
        </div>
    </div>
{% endblock desc %}