{% extends "newLay.html" %}
{% block desc %}
    <div class="jumbotron bg-light py-5 my-5 shadow">
        <h1 class="display-4">How it Works</h1>
        <hr>
        <p class="lead">
            Every morning, you wake up, you come to college, attend classes etc. The point being, you are present somewhere on this campus. 
            But sometimes you see a sight or smell a foul odour on the campus, for example, garbage lying around or foul smell from the washrooms 
            or leaked pipes. You wish that it were solved at that very moment.
        </p>
        <p class="lead">
            That is possible now. This web app assists you and at the same time you will help in keeping the campus clean. 
            You ask how? All you have to do, is connect to the KLE Tech network, click a picture of any activity that leads to 
            unhygienic surroundings, give a title to the activity and provide the location [or a landmark in the vicinity], 
            express how severe the problem is through the emoticons 
            <div class="jumbotron mx-md-5 py-3 px-md-3">
                <div class="row justify-content-center">
                    <div class="col-2">
                        <i class="fas fa-frown-open text-info h2 mb-1"></i>
                        <small class="text-muted text-center">(least)</small>
                    </div>
                    <div class="col-2">
                        <i class="fas fa-sad-tear text-info h2 mb-1"></i>                
                    </div>
                    <div class="col-2">
                        <i class="fas fa-sad-cry text-info h2 mb-1"></i>
                    </div>
                    <div class="col-2">
                        <i class="fas fa-dizzy h2 text-info mb-1"></i>                
                    </div>
                    <div class="col-2">
                        <i class="fas fa-radiation-alt h2 text-info mb-1"></i>
                        <small class="text-muted text-center">(most)</small>
                    </div>
                </div>
            </div>
            <p class="lead">and explain briefly about what exactly is happening. That’s it!</p>  
        </p>
        <p class="lead">
            The Cleanliness & Maintenance or C & M Cell, will get in contact with you, for more information about it and tend to your 
            complaints and try to mend the situation as soon as possible. So let’s join hands in creating a “Clean KLE” campus.
        </p>
        <br>
        <br>
        <h1 class="display-4">What's it for</h1>
        <hr>
        <p class="lead">
            This web app has been developed for the assistance of the C & M Cell, and furthermore the 
            students of this campus who face problems related to bad hygiene on a daily basis. The students 
            who study on this campus will be the source of every piece of information to the C & M Cell. 
            Their problems will be heard to, and be tended to in the quickest time possible. So the 
            cooperation of everyone who studies or does any activity on this campus is requested.
        </p>
    </div>
{% endblock desc %}