html{
	height: 100%;
}
body{
	background: url("../static/Collegedark.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: none;
	font-family: 'Roboto Mono', monospace;
}
.jumbotron{
	margin-top: 10%;
	margin-left: 37%;
	margin-right: 37%;
	padding-top: 20px; 
	color: white;
		font-family: 'Roboto Mono', monospace;

}
hr{
	border-color: white;
}

.iconspace{
	margin-left: 0px;
}

@media(max-width: 768px){
	.jumbotron{

	margin-top: 25%;
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 10px; 

}

}

@media(max-width: 568px){
	.jumbotron{

	margin-top: 25%;
	margin-left: 7%;
	margin-right: 7%;
	padding-top: 10px; 

}

}